<h1><%= @guest.name %></h1>

<h3>Age:</h3>
<p><%= @guest.age %></p>

<h3>Table:</h3>
<p><%= @guest.table ? @guest.table.name : "This guest is not currently assigned to a table. Edit guest information to assign them." %></p>

<h3>Dietary Restrictions:</h3>
<% if @guest.dietary_restrictions.size > 0 %>
  <ul>
    <% @guest.dietary_restrictions.each do |dr| %>
      <li><%= dr.name %></li> 
    <% end %> 
  </ul>
<% else %> 
  <p>This guest has no dietary restrictions.</p> 
<% end %>

<%= link_to "Edit this guest", edit_guest_path(@guest) %>
