<h1>All Tables</h1>
<p><%= link_to "Add a table", new_table_path %>

  <ul>
    <% @tables.each do |table| %>
      <li><%= link_to table.name, table_guests_path(table) %> - <%= table.seats_taken %> of <%= table.seat_capacity %> seats taken</li>
    <% end %>
  </ul>

  <p><%= link_to "Back to guests index", root_path %>
